
<div class="card" style="width: 20rem; padding:2%;margin:1%">
    <img src="sample-data/racao.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Produto_teste25_posicoes</h5>
        <p class="card-text">kjdlkjfdsljdslkfjdslkfjdslkfjdslkfjdslkfjdslkfjdslkfjslkjwqoieowqdjlkzcmx,vndslkvjdwlkfjewpoifjwqpo</p>
    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
    </div>
    <div class="card-footer d-flex justify-content-center">
        <p>R$29.00</p>    
    </div>
</div>

@code {

}
