@page "/"
<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>
@*<div class="container">
        <div class="row">
                <ProductCardsComponent />
                <ProductCardsComponent />
                <ProductCardsComponent />
                <ProductCardsComponent />
                <ProductCardsComponent />
                <ProductCardsComponent />
                <ProductCardsComponent />
                <ProductCardsComponent />
            <ModalProductsDetalheComponent/>
        </div>
    </div>*@

@inject ProductsPageService _productsPageService;

@code{


    //protected override async Task OnInitializedAsync() =>
}