@page "/"
<button @onclick="teste">Teste</button>
<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>
@*<div class="container">
        <div class="row">
                <ProductCardsComponent />
                <ProductCardsComponent />
                <ProductCardsComponent />
                <ProductCardsComponent />
                <ProductCardsComponent />
                <ProductCardsComponent />
                <ProductCardsComponent />
                <ProductCardsComponent />
            <ModalProductsDetalheComponent/>
        </div>
    </div>*@

@inject ICategoryService _categoryService;

@code{

    public async Task teste()
    {
        var category = new Category()
        {
            Name = "Nome de teste",
            Description = "DescricaoTeste"
        };
        await _categoryService.Create(category);
        Console.WriteLine("ok");
    }

    //protected override async Task OnInitializedAsync() =>
}